@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-6 bg-yellow-darker h-fit text-base
            py-4 uppercase rounded cursor-pointer font-bold
            focus:outline-none focus:ring-2 focus:ring-primary
            hover:bg-primary-light;
  }
}

html {
  height: 100%;
}
#root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf0da;
  font-family: "Gloria Hallelujah", cursive;

  height: 100%;
}
